
@{
    ViewBag.Title = "ResultadoConversion";
}

<h2>Resultado de la Conversion</h2>
<br />

<h4>La temperatura es igual a: @ViewBag.Temperatura</h4>
<br />

<a href="@Url.Action("Index", "Temperatura")" class="btn btn-primary">Regresar</a>