
@{
   // Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VistaNueva2</title>
</head>
<body>
    <div> 
        <h1>Vista Nueva 2</h1>
    </div>
</body>
</html>
