@{
    ViewBag.Title = "Distancia entre dos puntos";
}

<h2>Distancia entre dos puntos</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <form action="/" method="post">
                <label>Punto A: </label>
                <div class="col-lg-4">
                    <input type="number" name="x0" value="" class="form-control" placeholder="x0" />
                    <input type="number" name="y0" value="" class="form-control" placeholder="y0" />
                </div>
                <br />
                <label>Punto B: </label>
                <div class="col-lg-4">
                    <input type="number" name="x1" value="" class="form-control" placeholder="x1" />
                    <input type="number" name="y1" value="" class="form-control" placeholder="y1" />
                </div>
                <br />
                <input type="submit" value="Calcular" />
            </form>

        </div>
    </div>
</div>