@{
    ViewBag.Title = "Resultado de la distancia entre dos puntos";
}

<h2>Resultado de la distancia entre dos puntos</h2>
<br />

<h4>El resultado de la distancia es: @ViewBag.Distancia</h4>
<br />

<a href="@Url.Action("Distancia", "Distancia")" class="btn btn-primary">Regresar</a>